<div class ='containter'>
<form class="form-horizontal" action="/beers/edit" method="post">
  <fieldset>
    <legend><h1>Edit Alemanac Entry</h1></legend>
    <br>
      <div class="form-group">
        <label for="beerName" class="col-md-3 control-label">Name of Beer</label>
          <div class="col-md-5">
            <input type="hidden" name="id" value="<%= @entry.id %>">
            <input type="text" class="form-control" id="beerName" name="beer_name" value='<%= @entry.beer_name %>'>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="brewery_name" class="col-md-3 control-label">Brewery Name</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="brewery_name" name="brewery_name"  placeholder="Brewery Name">
            </div>
          </div> -->
        <div class="form-group">
          <label for="ABV" class="col-md-3 control-label">Alcohol Percentage</label>
            <div class="col-md-5">
              <input type="number" class="form-control" id="ABV" name="abv"  value='<%= @entry.abv %>'>
            </div>
          </div>
        <!-- <div class="form-group">
          <label for="brewery_location" class="col-md-3 control-label">Brewery Location</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="brewery_location" name="brew_location"  placeholder="Brewery Location">
            </div>
          </div> -->
        <div class="form-group">
          <label for="consume_location" class="col-md-3 control-label">Where did you drink this beer?</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="consume_location" name="consume_location"  value='<%= @entry.consume_location %>'>
            </div>
          </div>
          <div class="form-group">
             <label for="vote" class="col-md-3 control-label">Rating</label>
             <div class="col-md-5">
               <select class="form-control" id="vote" name="vote">
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
               </select>
             </div>
           </div>
               <br>
               <div class="form-group">
                  <label for="notes" class="col-md-3 control-label">Notes</label>
                  <div class="col-md-5">
              <textarea class="form-control" rows="3" id="notes" name='notes'style="margin: 0px -237.84375px 0px 0px; width: 663px; height: 200px;" value='<%= @entry.notes %>'></textarea>
              <span class="help-block">What did you think about the taste and smell? How was the color and density?</span>
            </div>
          </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-3">
          <button type="reset" class="btn btn-warning">Cancel</button>
          <button type="submit" class="btn btn-primary">Add to Alemanac</button>
        </div>
      </div>
    </fieldset>
</form>
</div>
</div>
