<h1>Search Results</h1>

<div class="table-responsive">
  <table class="table table-bordered">

      <% @search_results["data"].each do |beer| %>
    <tr>
      <td>
          <% s = beer.has_key?("labels") %>
          <% if s == true %>
            <% t = beer["labels"] %>
            <a class="beerpopoverData btn" href="#"
             data-content='<%= beer["description"] %>'
              rel="popover" data-placement="bottom"
               data-original-title="Description" data-trigger="hover">
               <img src='<%= t["medium"] %>'>
            </a>
          <% else %>
          <!-- attempt to do a popover-->

            <a class="beerpopoverData btn" href="#"
              data-content='<%= beer["description"] %>'
              rel="popover" data-placement="bottom"
              data-original-title="Description" data-trigger="hover">
              <img src='/images/generic-beer.png'>
            </a>

          <% end %>



        </td>
      <td id="beer-facts"><h3><%= beer["name"]  %></h3>
          <p>Style:
        <% s = beer.has_key?("style") %>
        <% if s == true %>
          <% t = beer["style"] %>
            <% if t.has_key?("category") %>
            <%= t["category"]["name"] %>
            <% end %>
          <% else %>
            Unknown
          <% end %>
        </p>
        <p>ABV:
          <%= beer["abv"] %>%
        </p>
        <p>Serving glass:
                <% s = beer.has_key?("glass") %>
                <% if s == true %>
                  <% t = beer["glass"] %>
                  <%= t["name"] %>
                <% else %>
                  Unknown
                <% end %>
            </p>

      <form action="/beers/new_api_entry_add" method="post">
        <input type="hidden" name="beer_name" value='<%= beer["name"] %>'>
        <input type="hidden" name="abv" value="<%= beer["abv"] %>">
        <input type="hidden" name="notes" value="<%= beer["description"] %>">
        <!-- <input type="hidden" name="beer_name" value="<%= beer["name"] %>"> add brewery!-->
        <button type="submit" class="btn btn-primary" value="Add to Journal">Add to my Alemanac</button>
      </form>

    </td>

    <td>
      <p>
        <%= beer["description"] %>
      </p>
    </td>

    </tr>
  <% end %>
  </table>
</div> <!-- end table-resposive div -->
