<h1>It's the search results!</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <th>ID</th><th>Name</th><th>Style</th><th>ABV</th><th>Label</th><th>Glass</th><th>Description</th>
    </thead>
      <% @search_results["data"].each do |beer| %>
    <tr>
      <td><%= beer["id"]  %> </td><td><%= beer["name"]  %> </td>

      <td>
        <% s = beer.has_key?("style") %>
        <% if s == true %>
          <% t = beer["style"] %>
          <% if t.has_key?("category") %>
          <%= t["category"]["name"] %>
          <% end %>
        <% else %>
          No category available.
        <% end %>
      </td>

      <td><%= beer["abv"] %></td>
      <td>
        <% s = beer.has_key?("labels") %>
        <% if s == true %>
          <% t = beer["labels"] %>
          <img src='<%= t["medium"] %>'>
        <% else %>
          No image available
        <% end %>

      </td>
      <td>
        <% s = beer.has_key?("glass") %>
        <% if s == true %>
          <% t = beer["glass"] %>
          <%= t["name"] %>
        <% else %>
          No category available.
        <% end %>
      </td>
      <td><%= beer["description"] %></td>
    </tr>
  <% end %>
  </table>
</div> <!-- end table-resposive div -->
