<h1>Search Results</h1>


<div class="table-responsive">
  <table class="table table-bordered">

      <% @search_results["data"].each do |beer| %>
    <tr>
      <td>
          <% s = beer.has_key?("labels") %>
          <% if s == true %>
            <% t = beer["labels"] %>
            <a class="beerpopoverData btn" href="#"
             data-content='<%= beer["description"] %>'
              rel="popover" data-placement="bottom"
               data-original-title="Description" data-trigger="hover">
               <img src='<%= t["medium"] %>'>
            </a>
          <% else %>
          <!-- attempt to do a popover-->

            <a class="beerpopoverData btn" href="#"
              data-content='<%= beer["description"] %>'
              rel="popover" data-placement="bottom"
              data-original-title="Description" data-trigger="hover">
              <img src='/images/generic-beer.png'>
            </a>

          <% end %>


        </td>
      <td id="beer-facts"><h3><%= beer["name"]  %></h3>
          <p>Style:
        <% s = beer.has_key?("style") %>
        <% if s == true %>
          <% t = beer["style"] %>
            <% if t.has_key?("category") %>
            <%= t["category"]["name"] %>
            <% end %>
          <% else %>
            Unknown
          <% end %>
        </p>
        <p>ABV:
          <%= beer["abv"] %>%
        </p>
        <p>Serving glass:
                <% s = beer.has_key?("glass") %>
                <% if s == true %>
                  <% t = beer["glass"] %>
                  <%= t["name"] %>
                <% else %>
                  Unknown
                <% end %>
            </p>

      <form action="/beers/new_api_entry_add" method="post">
        <input type="hidden" name="beer_name" value='<%= beer["name"] %>'>
        <input type="hidden" name="abv" value='<%= beer["abv"] %>'>
        <input type="hidden" name="notes" value='<%= beer["notes"] %>'>
        <!-- <input type="hidden" name="beer_name" value="<%= beer["name"] %>"> add brewery!-->
        <button type="submit" class="btn btn-primary" value="Add to Journal">Add to my Alemanac</button>
      </form>

    </td>

      <td>
        <p>
          <%= beer["description"] %>
        </p>
      </td>

    </tr>
  <% end %>
  </table>
  <!-- New Attempt at a nav bar -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Page <%= @search_results["currentPage"] %> of <%= @search_results["numberOfPages"] %> pages</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <!-- <ul class="nav navbar-nav">
          <li id="prev"><a href="#bs-example-navbar-collapse-2">-</a></li>
          <li id="next"><a href="#bs-example-navbar-collapse-2">+</a></li>
        </ul> -->
        <form class="navbar-form navbar-left" id="pageControl" name="pageControl" action="/" method="post" role="page">
          <button type="button" name="prev" id="prev" class="btn btn-default">Prev</button>
          <button type="button" name="next" id="next" class="btn btn-default">Next</button>
          <div class="form-group">
            <input type="text" id="pg_num" name="pg_num" class="form-control" placeholder="Go to page"  value='<%= @search_results["currentPage"] %>'>
          </div>
          <button type="submit" class="btn btn-default">Go to page</button>
          <input type="text" id="numberOfPages" name="numberOfPages" class="hidden" value="<%= @search_results["numberOfPages"] %>">
          <input name="abv_min" class="hidden" value="0">
          <input name="abv_max" class="hidden" value="20">
          <input name="search_string" class="hidden" value="">
          <input class="hidden" id="search_param" name="search_param" value="<%= @search_param %>">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">New Search</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div> <!-- end table-resposive div -->
