<h1> My Alemanac </h1>

<div class = 'container'>
<% if @entries != nil %>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
          <th>
            Beer
          </th>
          <!-- <th>
            Brewery
          </th> -->
          <th>
            ABV
          </th>
          <!-- <th>
            Brewery Location
          </th> -->
          <th>
            Location of Consumption
          </th>
          <th>
            Rating
          </th>
          <th>
            Notes
          </th>
          <th>
            Edit?
          </th>
          <th>
            Delete?
          </th>
    </thead>
    <tbody>
         <% @entries.map do |entry| %>
         <tr>
          <td>
            <%= entry.id %> --
            <%= entry.beer_name %>
          </td>
          <td>
            <%= entry.abv%>
          </td>
          <!-- <td>
            <%= entry.brew_location %>
          </td> -->
          <td>
            <%= entry.consume_location %>
          </td>
          <td>
            <%= entry.vote %>
          </td>
            <td>
              <%= entry.notes %>
            </td>
            <td>
              <a href='/beers/edit_entry/<%= entry.id %>'>Edit</a>
            </td>
            <td>
            <form action="/beers/delete" method="post">
              <%= entry.id %>
                <input type="hidden" name="beer_id" value="<%= entry.id %>">
                <input type="submit" value='Delete Entry'>
              </form>
              </td>

        </tr>
        <% end %>
    </tbody>
  </table>
</div>
</div>



<% else %>
  Sorry, you have no beer entries in your Alemanac journal. <a href = '/beers/new'>Add a new beer to your Alemanac </a>
<% end %>
